@import './../../default.scss';

.navbar {
    position: relative;
    width:100%;
    background-color:#000;
    padding: 10px 0px 10px 20px;
}

.nav-menu {
    display: none;
}

.nav-menu.active {
    font-family: 'Roboto', sans-serif;
    display: block;
    z-index: 99999;
    background-color: #000;
    left: 0px;
    width: 100%;
    transition: height 2s;
    height: 1900px;
    a{
        font-size: var(--font-small-size);
        color: var(--white);
    }
}

.menu-bars {
    color: #fff;
    font-size: 34px;
    padding-left: 148px;
}

.nav-menu-items { 
    padding: 10px 0px 10px 10px;
    li {
    list-style: none;
    padding: 5px 0px 10px;
    font-size: 21px;
    color: var(--white);
    }
    a.dropdown-link {
        @include a;
        padding-left:20px;
        font-size: var(--font-small-size);
    a:hover {
        text-decoration: none;
        color: #a93e78;
    }
    } 
}

ul.sub-menu {
    display: none;
}

ul.sub-menu-active {
    display: block;;
}

ul.dropdown {
    padding:0;
    a {
        padding-left: 15px;
        text-decoration: none;
    }
    a:hover {
        color: #a63e77;
    }
}
