.header {
  height: 6.5rem;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.1);

}

.header {
  position: relative;
  top:0;
  background-color: #fff;
  .wrap {
    height:100%;
    max-width: 1040px;
    margin:0 auto;
  }
  .logo {
    position:absolute;
    top:37px;
    left:0;

  }
}

.navigation {
  float: right;
  ul {
    display: flex;
  }
  li {
    list-style: none;
    margin-right: 10px;
  }
}

.callToActions {
  ul {
      float:right;
      display: flex;
    li {
      list-style: none;
      justify-content: space-between;
      a {
        color: #000;
        font-size: 14px;
        margin-right: 12px;
      }
    }
  }
}
