@font-face {
  font-family: "FuturaLTMedium";
  src: url('./assets/font/FuturaLTProMedium.otf');
}
@font-face {
  font-family: "FuturaLTLight";
  src: url('./assets/font/FuturaLTProLight.otf');
}

html {
  --color-text: black;
  --font-family: 'Roboto', sans-serif;
  --font-size: 1.6em;
  --font-medium-size: 1.4em;
  --font-small-size: 1.0em;
  --font-xsmall-size: 0.8em;
  --color-primary: #a93e78;
  --light-pink: #f6adb6;
  --button-text: #444572;
  --white: #ffffff;
  --black: #000000;
}


@mixin h1 { font-family: 'FuturaLTMedium'; font-size: 45px; color: var(--white); text-transform: uppercase;}
@mixin h2 { font-family: 'FuturaLTLight'; font-size: 35px; color: var(--white);}



@mixin button {
  background-color: var(--white);
  padding: 13px 50px;
  margin-top: 20px;
  color:  var(--button-text);
  border-style: 1px solid var(--button-text);
  border-radius: 0px;
}

@mixin button-hover {
  background-color: var(--black);
  transition: all 0.5s ease;
  border-style: 1px solid var(--black);
  border-radius: 0px;
}

html,
body,
#root,
.App,
.fullHeight {
  height: 100%;
  font-family: 'Maitree', serif;
}

.fullWidth {
  background-color: #000;
}

.App {
  height: 100%;
}

*{
  -webkit-box-sizingL:border-box;
  -moz-box-sizingL:border-box;
  box-sizing: border-box;
}

.main {
  max-width: 1900px;
  height: calc(100% - 6.5rem);
}

@mixin ul {
  padding: 0px;
  li a {
    font-family: var(--font-family);
    color: var(--white);
    font-size: var(--font-size) !important;
  }
  
}

@mixin a {
  color: var(--white);
  font-size: var(--font-size);
  font-family: var(--font-family);
  text-decoration: none;
  :hover {
    color: var(--color-primary);
  }
}