.formRow {
  input {
    display: block;
    width: 100%;
    padding: 10px 5px;
    margin: 10px auto;
    font-size: 1.2rem;
    line-height: 1;
    font-weight: 400;
    border: solid 1px #ddd;
    outline:none;
  }
}
